/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900');
@tailwind components;
@tailwind base;
@tailwind utilities;

@keyframes rotate {
    from { transform: rotateZ(0deg); }
    to { transform: rotateZ(360deg); }
}

.rotate {
    animation: rotate 20s linear infinite;
}

.w-100vw {
    width: 100vw;
}

.max-w {
    width: 100%;
    max-width: 1500px;
}

.banner {
    height: 600px;
    max-height: 600px;
    position: relative;

    canvas {
        animation: fade-in 1s ease-in;
    }
}

.white-button {
    @apply shadow-lg text-sm px-3 py-0.5 bg-white text-black font-semibold h-10 rounded bg-gradient-to-b from-gray-200 to-white hover:from-blue-500 hover:to-blue-600 hover:text-white;
}

.gray-button {
    @apply shadow-lg text-sm px-3 py-0.5 bg-cgray-800 hover:bg-cgray-900 text-white font-semibold h-10 rounded;
}

.big-button {
    @apply h-12 px-4 text-base;
}

@keyframes fade-in {
    from { opacity: 0;}
    to { opacity: 1 }
    
}